:root {
  --top-content-height: 80px;
  --sidebar-width: 75px;
}

/* |DEBUG| */

._bg_red {
  background-color: red;
}

._bordered {
  border: 1px dashed black;
}

._box {
  width: 10px;
  aspect-ratio: 1;
  background-color: violet;
}

/* |RESET| */

/* |GENERAL| */

/* |UTILS| */

._bg_light_grey {
  background-color: #e5e5e5;
}

/* |LAYOUT| */

#top_content {
  height: var(--top-content-height);
  display: flex;
  align-items: center;
}

#bottom_content {
  height: calc(100vh - var(--top-content-height));
}

#sidebar {
  width: var(--sidebar-width);

  color: white;

  background-image: url(../img/sidebar-bg.png);
  background-color: #051e34;
}

#main {
  width: calc(100% - var(--sidebar-width));
  overflow: auto;
}

#sidebar .container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: white;
}

/* |TOP CONTENT| */

/* *NAVBAR */

#top_content ._logo_mobile {
  height: 48px;
}

#top_content ._bar_search {
  display: flex;
  align-items: center;
  flex-grow: 1;

  background-color: #e5e5e5;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu[data-bs-popper] {
  left: -137px;
}

/* |BOTTOM CONTENT| */

/* *SIDEBAR */

/* *MAIN */

/* HEADER */

#header ._badge_header {
  font-size: 0.9rem;
  color: white;
  background-color: #165bba;
}

#offcanvasAddStudent.offcanvas {
  width: 100%;
  max-width: 768px;
}

/* MAIN-CONTENT */

/* CARD "PROSSIME CLASSI" */

.main-content ._icon_card_classi {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  border-radius: 50%;
  text-align: center;
  padding: 3px;

  color: white;
  background-color: #f26551;
}

.main-content ._btn_class {
  min-width: 35px;
  aspect-ratio: 1;
  padding: 0;
  text-align: center;
}

/* |Effect Hover and Focus| */

#sidebar > .container-fluid > *:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* |RESPONSIVE| */

/* *SCREEN TABLET (MD) */

@media screen and (min-width: 992px) {
  :root {
    --top-content-height: 60px;
  }
}

/* *SCREEN DESCKTOP (LG) */

@media screen and (min-width: 992px) {
  :root {
    --sidebar-width: 150px;
  }
  .dropdown-menu[data-bs-popper] {
    left: -30%;
  }

  #sidebar .container-fluid {
    align-items: stretch;
  }

  #sidebar ._icons_sidebar {
    width: 30px;
  }
}
