:root {
  --top-bontent-height: 100px;
  --sidebar-width: 75px;
}

/* |DEBUG| */

._bg_red {
  background-color: red;
}

._bordered {
  border: 1px dashed black;
}

._box {
  width: 10px;
  aspect-ratio: 1;
}

/* |RESET| */

/* |GENERAL| */

/* |UTILS| */

/* |LAYOUT| */

#top_content {
  height: var(--top-bontent-height);
}

#bottom_content {
  height: calc(100vh - var(--top-bontent-height));
}

#sidebar {
  width: var(--sidebar-width);
}

#main {
  width: calc(100% - var(--sidebar-width));
  overflow: auto;
}

/* |TOP CONTENT| */

/* *NAVBAR */

/* |BOTTOM CONTENT| */

/* *SIDEBAR */

/* *MAIN */

/* HEADER */

/* MAIN-CONTENT */

/* |RESPONSIVE| */
