:root {
  --navbar-height: 50px;
  --sidebar-width: 100px;
}

/* |DEBUG| */

._bg_red {
  background-color: red;
}

._bordered {
  border: 1px dashed black;
}

._box {
  width: 10px;
  aspect-ratio: 1;
}

/* |RESET| */

/* |GENERAL| */

/* |UTILS| */

/* |NAVBAR| */

/* |SIDEBAR| */

/* |MAIN| */

/* *HEADER */

/* *MAIN-CONTENT */

/* |RESPONSIVE| */
